<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</script>
<link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
<link rel="stylesheet" type="text/css" media="screen" href="../css/animated.css" />
<!--fontawesome-->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
<!--This is used for search icon. Instead putting icon manually it is loaded from fontawesome-->
<title>Co-oparative Bank Housing</title>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-green fixed-top">
<a href="#" class="navbar-brand"><img src="../images/logo.PNG" height="50%"></a>
<button class="navbar-toggler " data-toggle="collapse" data-target="#nav">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-between" id="nav">
<ul class="navbar-nav">
<li class="nav-item" >
<a class="nav-link text-light  px-3" href="../index.html">Home</a>
</li>
<li class="nav-item" >
    <a class="nav-link text-light  px-3" href="../index.html">Services</a>
    </li>
<li class="nav-item dropdown" data-toggle="dropdown">
<a class="nav-link text-light px-3 dropdown-toggle" href="#">Projects</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="#">Projects 1</a>
<a class="dropdown-item" href="#">Projects 2</a>
<a class="dropdown-item" href="#">Projects 3</a>
</div>
</li>
<li class="nav-item">
<a class="nav-link text-light px-3" href="#">About Us</a>
</li>
<li class="nav-item">
<a class="nav-link text-light  px-3" href="#">FAQs</a>
</li>
</ul>
<!-- Search bar -->
<form class="form-inline ml-3">
<div class="input-group">
<input type="text" class="form-control " id="inpt_srch"placeholder="Search" >
<button id="btn_search" type="submit"><i class="fa fa-search"></i></button>
</div>
</form>
</div>
</nav>

<section id="about">
    <div class="container">
  
      <header class="section-header">
        <h3 class="wow rollIn">About Us</h3>
        <p>The Co-operative Bank Housing Co-operative Society Limited was
           established in 1993 by members of staff of Co-op Bank</p>        
  </header>
  
      <div class="row about-container">
  
        <div class="col-lg-6 content order-lg-1 order-2">
          <div class="icon-box wow fadeInUp">
            <div class="icon"><i class="fas fa-bullseye"></i></div>
            <h4 class="title"><a href="">Objectives</a></h4>
            <p class="description">To organize and promote the quality of members's lives by provinding quality housing and investments.
              </p>
          </div>
  
          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fas fa-binoculars"></i></div>
            <h4 class="title"><a href="">Vision</a></h4>
            <p class="description">To be a vibrant housing society that positively changes lives</p>
          </div>
  
          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon"><i class="fas fa-chart-bar"></i></div>
            <h4 class="title"><a href="">Mision</a></h4>
            <p class="description">Mobillization of funds to provide affordable housing and investment opportunity to our members throught prudent management.</p>
          </div>
          <div class="icon-box wow fadeInUp">
            <div class="icon"><i class="fas fa-hands-helping"></i></div>
            <h4 class="title"><a href="">Motto</a></h4>
            <p class="description">Your investment our business.
          </div>
  
        </div>
  
        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
         <p><b>Corel Values</b></p>
         <ul>
           <li>Accountability and transparency</li>
           <li>Integrity</li>
           <li>Execute at speed</li>
           <li>Equity (fairness to all)</li>
           <li>Innovativeness</li>
           <li>Involvement and participation</li>
         </ul>
        </div>
      </div>
  
      
  
    </div>
  </section>
  <!-- end about Us -->
  <!--==========================
      Team  Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">
  
          <header class="section-header">
            <h3>Our Team</h3>
            <hr>
            <p></p>
          </header>
  
          <div class="row">
            <div class="m-auto" style="width: 18rem;" wow bounceInUp" data-wow-duration="1.4s">
              
                
                <img class="mg-thumbnail" src="../images/members.png" height="70%" alt="members">
                
                  <p class="card-text">Name:<br> Title:
                  </p>
              
                
              </div>
              <div class="m-auto" style="width: 18rem;" wow bounceInUp" data-wow-duration="1.4s">
              
                
                <img class="mg-thumbnail" src="../images/members.png" height="70%" alt="members">
                
                  <p class="card-text">Name:<br> Title:
                  </p>
              
                
              </div>
              <div class="m-auto" style="width: 18rem;" wow bounceInUp" data-wow-duration="1.4s">
              
                
                <img class="mg-thumbnail" src="../images/members.png" height="70%" alt="members">
                
                  <p class="card-text">Name:<br> Title:
                  </p>
                  
              
                
              </div>
              <div class="m-auto" style="width: 18rem;" wow bounceInUp" data-wow-duration="1.4s">
              
                
                <img class="mg-thumbnail" src="../images/members.png" height="70%" alt="members">
                
                  <p class="card-text">Name:<br> Title:
                  </p>
                  
              
                
              </div>
              <div class="m-auto" style="width: 18rem;" wow bounceInUp" data-wow-duration="1.4s">
              
                
                <img class="mg-thumbnail" src="../images/members.png" height="70%" alt="members">
                
                  <p class="card-text">Name:<br> Title:
                  </p>
                  
              
                
              </div>
              </div>
            <!-- card -->
</section><!-- #contact -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Co-operative Bank Housing Co-operative Society Ltd </h3>
            <p>The Co-operative Bank Housing Co-operative Society Limited was established in 1993 by members of staff of Co-op Bank.</p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
            Rail ways <br>
              Co-operative house 2rd Floor<br>
              <br>
              <strong>Phone:</strong>0711049124<br>
              <strong>Email:</strong> coopbankhousing@co-opbank.co.ke<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fab fa-twitter"></i></i></a>
              <a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a>
              <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fab fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Co-Oparative Bank housing</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<script src="../js/wow.min.js"></script>
<script src="../js/base.js"></script>
<script src="../lib/counterup/jquery.counterup.min.js"></script>
<script src="../lib/waypoints/jquery.waypoints.min.js">s</script>
<script> 
new WOW().init();

</script>
</body>
</html>