<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<!-- favicons -->
<link rel="icon" type="image/png" href="./images/favicon.PNG"/>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</script>
<link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
<link rel="stylesheet" type="text/css" media="screen" href="../css/animated.css" />
<!--fontawesome-->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
<!--This is used for search icon. Instead putting icon manually it is loaded from fontawesome-->
<title>Co-oparative Bank Housing | FAQS</title>
<link href="../images/favicon.PNG" rel="icon">
<link href="../images/logo.PNG" rel="apple-touch-icon">
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-green fixed-top">
    <a href="../index.html" class="navbar-brand"><img src="../images/logo.PNG" height="50%"></a>
    <button class="navbar-toggler " data-toggle="collapse" data-target="#nav">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="nav">
    <ul class="navbar-nav">
    <li class="nav-item" >
    <a class="nav-link text-light  px-3" href="../index.html">Home</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link text-light  px-3" href="../index.html">Services</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link text-light  px-3" href="../index.html">Contact Us</a>
            </li>
            <li class="nav-item nav-link dropdown">
              <a class=" dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="nav-link  dropdown-item" href="./lands.html">Land</a>
                <a class="nav-link  dropdown-item" href="./houses.html">Houses</a>
             </div>
    <li class="nav-item">
    <a class="nav-link text-light px-3" href="#">About Us</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-light  px-3" href="./faqs.html">FAQs</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link text-light  px-3" href="login.html">login <i class="fas fa-users"></i></a>
        </li>
    </ul>
    <!-- right bar -->
    <div class="topnav-right">
    
      <a href='#contact'>
          <i class="far fa-envelope"></i> coopbankhousing@co-opbank.co.ke
        <br>
        <i class="fas fa-phone-volume"></i> 0711049936</a>
        <a href="#" class="twitter"><i class="fab fa-twitter"></i></i></a>
        <a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="./login.html">login <i class="fas fa-users"></i></a>
    
      </div>
    </div>
</nav>
<section id="why-us" >
        <div class="container">
          <header class="section-header">
            <h3>Available Houses (<i> None</i>)</h3>
          </header>
      
         </section>
          </section>
          <footer id="footer">
                <div class="footer-top">
                  <div class="container">
                    <div class="row">
            
                      <div class="col-lg-4 col-md-6 footer-info">
                        <h3>Co-operative Bank Housing Co-operative Society Ltd</h3>
                        <p>We mobilization of funds to provide affordable housing and investment opportunities to our members.</p>
                      </div>
            
                      <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <h4>Useful Links</h4>
                              <ul>
                                <li><a href="../index.html">Home</a></li>
                                <li><a href="./about_us.html">About us</a></li>
                                <li><a href="../index.html">Services</a></li>
                                <li><a href="./faqs.html">FQS</a></li>
                        
                              </ul>
                        </ul>
                      </div>
                      <div class="col-lg-4 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                                <b>Main office</b>:
                                Co-operative house 2rd Floor - Nairobi<br>
                          <strong>Phone:</strong>0711049124<br>
                          <strong>Email:</strong> coopbankhousing@co-opbank.co.ke<br>
                        </p>
            
                      </div>
            
                    </div>
                  </div>
                </div>
            
                <div class="container">
                    <div class="copyright">
                      &copy; Copyright <strong>Co-operative Bank Housing Co-operative Society Ltd</strong>. All Rights Reserved
                    </div>
                  </div>
                </div>
              </footer><!-- #footer -->
            
              <a href="#" class="back-to-top"><p><i class="fas fa-long-arrow-alt-up"></i></p></a>
            <script src="../js/wow.min.js"></script>
            <script src="../js/base.js"></script>
            <script src="../lib/counterup/jquery.counterup.min.js"></script>
            <script src="../lib/waypoints/jquery.waypoints.min.js">s</script>
            <script> 
            new WOW().init();
            
            </script>
            </body>
            </html>