body {
    background: #fff;
    color: #444;
    font-family: "Open Sans", sans-serif;
  }

a {
    color: aliceblue;
    transition: 0.5s;
  }

a:hover,
a:active,
a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}
.bg-green{
    background-color:  #052002;
}
#inpt_srch{
    background-color: #05200294;
    color: aliceblue;
}